body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

.quiz-wrapper {
  background-color: gray;
  height: 90vh;
  width: 50vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

}

.timer-and-score {
  width: 100;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.question-box {
  width: 100%;
  height: 25%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.answer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.answer-wrapper button {
  flex-grow: 1;
  height: 10rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.answer-wrapper button:hover {
  background-color: darkgrey;
}

.hidden {
  display: none;
}

.score-board {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

#start-button {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
}

#timer-box{
  padding: .5rem;
  background-color: white;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#score-box {
  padding: .5rem;
  background-color: white;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

#save-score-btn {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
}